<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write new chat</title>
</head>
<body>
    <h1>:::write new chat:::</h1>
    <form method="POST" action="/chats">
        <input type="text" placeholder="Who are You??" name="from">
        <br><br><br>
        <textarea name="msg" > write your SMS here...... </textarea>
        <br><br><br>
        <input type="text" name="to" placeholder="add reciever">
        <br><br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>