body{
    margin-left: 30px;

}
.Chatt{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}
.MSG{
    background-color: dodgerblue;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}